@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;600;800&display=swap");
@import url(./signup.css);
@import url(./marketplace.css);
@import url(./artistpage.css);

.scale-down {
  transition: 0.2s ease-in-out;
}
.scale-down:hover {
  scale: 0.95;
}
/* * {
  outline: 1px solid gray; 
} */
.body {
  margin: 0 auto;
  /* max-width: 1280px; */
  background-color: #2b2b2b;
  font-family: "Work Sans", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: white;
}
.header {
  width: 92.1875%;
  margin: 20px auto 20px auto;
  display: flex;
  justify-content: space-between;
}
.header__logo-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__menu {
  min-height: 60px;
  display: flex;
  align-items: center;
}
.header__menu_mobile {
  display: none;
}
.header__link {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  cursor: pointer;
}
.header__button {
  min-width: 112px;
  height: 60px;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
  background-color: #a259ff;
  border: none;
  color: white;
  border-radius: 20px;
  margin-right: 0;
  display: flex;
  align-items: center;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  cursor: pointer;
}
/* .header__link:last-child {
  min-width: 112px;
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #a259ff;
  border-radius: 20px;
  margin-right: 0;
  display: flex;
  align-items: center;
} */
.signup-icon {
  margin-right: 12px;
}
.lead {
  margin: 6.25% auto 0 auto;
  width: 82.03125%;
  max-width: 1050px;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 1fr);
  column-gap: 30px;
  overflow: hidden;
}
.lead__image {
  max-width: 510px;
  width: 100%;
  object-fit: cover;
  grid-column: 2;
  grid-row: 1/6;
}
.lead__title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
  text-transform: capitalize;
}
.lead__subtitle {
  margin: 22px auto auto auto;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
}
.lead__button {
  margin: 30px 0;
  width: 43.9217%;
  max-height: 60px;
  padding-top: 19px;
  padding-bottom: 19px;
  background: #a259ff;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.lead__button-icon {
  margin-right: 12px;
}
.lead__stats {
  display: flex;
  justify-content: space-between;
}
.lead__stats-item {
  min-width: 150px;
}
.lead__number {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  text-transform: capitalize;
}
.lead__text {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 23.99px;
  line-height: 160%;
  text-transform: capitalize;
}
.trends {
  margin: 12.5% auto 0 auto;
  width: 82.03125%;
  max-width: 1050px;
}
.trends__title {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
}
.trends__subtitle {
  margin: 10px 0 0 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
}
.three-cards {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.card {
  width: 31.42857142857143%;
  /* max-width: 330px; */
}
.card__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.card__primary-item {
  width: 100%;
  grid-row: 1/3;
  grid-column: 1/4;
}
.card__item-image {
  width: 100%;
}
.card__secondary-item {
  width: 100%;
}
.card__secondary-text {
  margin: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a259ff;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
}
.card__title {
  margin: 15px 0 0 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
}
.card__artist-container {
  max-width: fit-content;
  margin-top: 10px;
  display: flex;
  text-decoration: none;
  align-items: center;
}
.rocket-icon {
  margin-right: 12px;
}
.artist-icon {
  max-width: 24px;
  margin-right: 12px;
}
.artist-name {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: white;
}
.creators {
  margin: 12.5% auto 0 auto;
  width: 82.03125%;
  max-width: 1050px;
}
.creators__heading {
  margin: 0 auto 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.creators__headline-text {
  max-width: fit-content;
}
.creators__title {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
}
.creators__subtitle {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
}
.creators__button {
  margin: 0;
  margin-top: auto;
  min-width: fit-content;
  /* max-width: 247px; */
  min-height: 56px;
  max-height: 56px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  color: white;
  border: 2px solid #a259ff;
  border-radius: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}
.creators__button_mobile {
  display: none;
}
.creators__container {
  width: 100%;
  margin-top: 5.714285714285714%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 30px;
  justify-content: center;
}
.creators__card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3b3b3b;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  object-fit: cover;
  cursor: pointer;
}
.creators__avatar-ranking-container {
  display: flex;
  align-self: flex-start;
}
.creators__ranking-number {
  margin: 0 15px 0 0;
  width: 30px;
  height: 30px;
  background: #2b2b2b;
  border-radius: 20px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.creators__avatar {
  max-width: 120px;
  border-radius: 50%;
}
.creators__name {
  width: 100%;
  margin: 0;
  margin-top: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
}
.creators__sales {
  width: 100%;
  margin: 0;
  margin-top: 5px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}
.creators__span-accent {
  margin-right: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #858584;
}
.categories {
  margin: 12.5% auto 0 auto;
  width: 82.03125%;
  max-width: 1050px;
}
.categories__title {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
}
.categories__container {
  width: 100%;
  margin-top: 5.714285714285714%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.857142857142857%;
}
.categories__card {
  display: block;
  max-width: 240px;
  text-decoration: none;
  color: white;
  background-color: #3b3b3b;
  border-radius: 20px;
}
.categories__card-icon {
  width: 100%;
}
.categories__card-name {
  margin: 8.3% auto 0 8.3%;
  padding-bottom: 10.416%;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
}
.discover {
  margin: 12.5% auto 0 auto;
  width: 82.03125%;
  max-width: 1050px;
}
.discover__heading {
  margin: 0 auto 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.discover__headline-text {
  max-width: fit-content;
}
.discover__title {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
}
.discover__subtitle {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
}

.discover__button {
  margin: 0;
  margin-top: auto;
  min-width: fit-content;
  min-height: 56px;
  max-height: 56px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  color: white;
  border: 2px solid #a259ff;
  border-radius: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}
.discover__button_mobile {
  display: none;
}
.discover__cards {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.discover__cards_marketplace {
  position: relative;
  margin: 0 auto 0 auto;
  padding-top: 30px;
  padding-bottom: 80px;
  width: 82.03125%;
  max-width: 1050px;
  flex-wrap: wrap;
}
.discover__card {
  width: 31.42857142857143%;
  background-color: #3b3b3b;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}
.discover__card_marketplace {
  margin-top: 2.857142857142857%;
  background-color: #2b2b2b;
}

.discover__card-image {
  width: 100%;
}
.discover__card-info {
  margin: 6.060606060606061% 9.1% 7.575757575757576% 9.1%;
}
.discover__card-NFT-name {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
}
.discover__card-artist-info {
  max-width: fit-content;
  margin-top: 5px;
  display: flex;
  text-decoration: none;
  align-items: center;
}
.discover__card-artist-icon {
  max-width: 24px;
  margin-right: 12px;
  border-radius: 50%;
}
.discover__card-artist-name {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.NFT-info {
  margin-top: 9.26%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "price bid"
    "price2 bid2";
}
.NFT-info__price-text {
  margin: 0;
  grid-area: price;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #858584;
}
.NFT-info__price-number {
  margin: 0;
  margin-top: 8px;
  grid-area: price2;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.NFT-info__bid-text {
  margin: 0;
  grid-area: bid;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #858584;
  text-align: right;
}
.NFT-info__bid-number {
  margin: 0;
  margin-top: 8px;
  grid-area: bid2;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-align: right;
}
.highlight {
  margin-top: 6.25%;
  width: 100%;
  min-height: 640px;
  background-image: linear-gradient(
      180deg,
      rgba(162, 89, 255, 0) 0%,
      #a259ff 100%
    ),
    url(../images/NFT-highlight.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}
.highlight__container {
  width: 82.03125%;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 4.6875%;
}
.highlight__info {
  margin: 0;
}
.highlight__artist-box {
  display: flex;
  padding: 10px 20px 10px 20px;
  max-width: fit-content;
  text-decoration: none;
  color: white;
  background: #3b3b3b;
  border-radius: 20px;
  align-items: center;
}
.highlight__artist-icon {
  max-width: 24px;
  margin-right: 12px;
}
.highlight__artist-name {
  margin: 0;
  text-align: center;
}
.highlight__title {
  margin: 0;
  margin-top: 30px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
  text-transform: capitalize;
}
.highlight__button {
  margin: 0;
  margin-top: 30px;
  min-width: fit-content;
  max-width: 100px;
  min-height: 56px;
  max-height: 56px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  color: #a259ff;
  background-color: white;
  border-radius: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}
.highlight__button_mobile {
  display: none;
}
.timer {
  max-height: 84px;
  background: rgba(59, 59, 59, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.timer__title {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
}
.timer__container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.timer__block {
  display: block;
}
.timer__number {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
}
.timer__span {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  text-transform: capitalize;
}
.timer__text {
  margin: 0;
  margin-top: 5px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  text-transform: capitalize;
}
.explainer {
  margin: 6.25% auto 0 auto;
  width: 82.03125%;
  max-width: 1050px;
}
.explainer__title {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
}
.explainer__subtitle {
  margin: 10px 0 0 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
}
.explainer__cards {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.explainer__card {
  width: 31.42857142857143%;
  max-width: 330px;
  padding-bottom: 2.857%;
  background: #3b3b3b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explainer__card-image {
  width: 75.76%;
}
.explainer__card-title {
  margin: 20px 0 0 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
}
.explainer__card-text {
  margin: 10px 0 0 0;
  max-width: 81.81%;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}
.widget {
  margin: 11.4285% auto 6.25% auto;
  width: 82.03125%;
  max-width: 1050px;
}
.widget__container {
  background: #3b3b3b;
  border-radius: 20px;
  padding: 5.7143%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.widget__image {
  min-width: 40.48%;
  object-fit: fill;
  border-radius: 20px;
}
.widget__image_tablet {
  display: none;
}
.widget__info {
  margin-left: 30px;
  min-width: 40.47619047619048%;
  max-width: 425px;
  display: grid;
  grid-template-rows: 1fr 1fr 60px;
}
.widget__title {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  align-self: end;
}
.widget__text {
  margin: 0;
  align-self: start;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
}
.email-form {
  width: 100%;
  justify-self: end;
  display: flex;
  background-color: white;
  border-radius: 20px;
  justify-content: space-between;
}
.email-form__string-container {
  display: flex;
  width: 50.35%;
  min-height: 60px;
}
.email-form__string {
  margin-left: 9.3457%;
  background-color: transparent;
  border: none;
}
.email-form__string:focus {
  outline: none;
}
.email-form__button-container {
  display: block;
  margin-left: -50px;
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #a259ff;
  border-radius: 20px;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email-form__button-container_tablet {
  display: none;
}
.email-form__button-icon {
  margin-left: 50px;
  margin-right: 12px;
}
.email-form__button {
  margin: 0;
  margin-right: 50px;
  padding: 0;
  background: transparent;
  color: white;
  border: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}
.footer {
  background: #3b3b3b;
}
.footer__container {
  margin: 0 auto 0 auto;
  padding-top: 3.125%;
  padding-bottom: 2.857%;
  width: 82.03125%;
  max-width: 1050px;
  max-height: 191px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #858584;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__info-content {
  max-width: 238px;
}
.footer__logo {
  max-width: 243px;
  width: 100%;
}
.footer__description {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #cccccc;
}
.footer__social-text {
  margin: 20px 0 0 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #cccccc;
}
.footer__social-link {
  margin-right: 10px;
}
.footer__social-link:last-child {
  margin-right: 0;
}
.footer__social-icon {
  margin-top: 15px;
  width: 100%;
  max-width: 32px;
}
.footer__explore {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__explore-title {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #ffffff;
}
.footer__explore-menu {
  display: flex;
  flex-direction: column;
}
.footer__explore-link {
  margin: 20px 0 0 0;
  text-decoration: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #cccccc;
}
.footer__explore-link:first-child {
  margin: 0;
}
.widget_footer {
  max-width: 420px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.widget__info_footer {
  margin: 0;
}
.widget__title_footer {
  display: block;
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #ffffff;
  text-align: left;
}
.widget__text_footer {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #cccccc;
}
.email-form__button_footer {
  margin-left: 50px;
}
.footer__copyright {
  margin: 1.905% auto 0 auto;
  width: 82.03125%;
  max-width: 1050px;
}
.footer__copyright-text {
  margin: 0;
  padding-bottom: 3.809%;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #cccccc;
}

@media screen and (max-width: 835px) {
  .header__logo {
    max-width: 182px;
  }
  .header__menu {
    display: none;
  }
  .header__menu_mobile {
    display: block;
    position: relative;
  }
  .header__menu-items {
    display: none;
  }
  .header__menu-items_active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 54px;
    right: -5vw;
    width: 120vw;
    height: 100vh;
    background-color: #2b2b2b;
    align-items: flex-end;
    z-index: 100;
  }
  .header__link {
    padding-right: 0;
    margin-right: 5vw;
  }
  .header__button {
    margin-top: 12px;
    margin-right: 5vw;
  }
  .header__link:last-child {
    padding-right: 20px;
    margin-top: 12px;
    margin-right: 5vw;
  }
  #menu__toggle {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 15px;
    right: 0;
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .menu__btn > span::before {
    content: "";
    width: 60%;
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    width: 60%;
    top: 8px;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    width: 100%;
    transform: rotate(90deg);
  }
  /* #menu__toggle:checked ~ .header__menu-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 54px;
    right: -5vw;
    width: 120vw;
    height: 100vh;
    background-color: #2b2b2b;
    align-items: flex-end;
    z-index: 100;
  } */
  .lead {
    margin: 9.59% auto 0 auto;
    width: 82.733813%;
    max-width: 690px;
    grid-template-columns: minmax(1fr, 330px) minmax(min-content, 1fr);
  }
  .lead__title {
    font-size: 38px;
    line-height: 120%;
  }
  .lead__subtitle {
    font-size: 16px;
    line-height: 140%;
  }
  .lead__stats-item {
    min-width: 90px;
  }
  .lead__number {
    font-size: 22px;
    line-height: 160%;
  }
  .lead__text {
    font-size: 16px;
    line-height: 140%;
  }
  .lead__button {
    min-width: 224px;
  }
  .trends {
    margin-top: 14.388489%;
    width: 82.733813%;
    max-width: 690px;
  }
  .trends__title {
    font-size: 28px;
    line-height: 140%;
  }
  .trends__subtitle {
    font-size: 16px;
    line-height: 140%;
  }
  .three-cards {
    margin-top: 40px;
  }
  .card {
    width: 47.82608695652174%;
  }
  .card:last-child {
    display: none;
  }
  .creators {
    margin-top: 9.592326139088729%;
    width: 82.733813%;
    max-width: 690px;
  }
  .creators__title {
    font-size: 28px;
    line-height: 140%;
  }
  .creators__subtitle {
    font-size: 16px;
    line-height: 140%;
  }
  /* переверстать карточки авторов */
  .creators {
    margin-top: 9.592326139088729%;
    width: 82.733813%;
    max-width: 690px;
  }
  .creators__container {
    width: 100%;
    margin-top: 5.714285714285714%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    column-gap: 20;
    justify-content: center;
  }
  .creators__card {
    position: relative;

    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 20px;
  }
  .creators__card:nth-last-child(-n + 7) {
    display: none;
  }
  .creators__avatar-ranking-container {
    grid-row: 1/3;
    display: block;
    max-width: 20.6%;
  }
  .creators__ranking-number {
    position: absolute;
    left: 12px;
    top: 13px;
  }
  .creators__avatar {
    max-width: 60px;
  }
  .creators__name {
    margin: 0;
    max-width: fit-content;
    max-height: fit-content;
    text-align: left;
  }
  .creators__sales {
    margin: 0;
    max-width: fit-content;
    text-align: left;
  }
  .creators__span-accent {
    margin-right: 10px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #858584;
  }
  .categories {
    margin-top: 9.592326139088729%;
    width: 82.733813%;
    max-width: 690px;
  }
  .categories__title {
    font-size: 28px;
    line-height: 140%;
  }
  .categories__card-name {
    font-size: 16px;
    line-height: 140%;
  }
  .discover {
    margin-top: 9.592326139088729%;
    width: 82.733813%;
    max-width: 690px;
  }
  .discover__title {
    font-size: 28px;
    line-height: 140%;
  }
  .discover__subtitle {
    font-size: 16px;
    line-height: 140%;
  }
  .discover__cards {
    margin-top: 40px;
  }
  .discover__cards_marketplace {
    margin-top: 0;
  }
  .discover__card {
    width: 47.82608695652174%;
  }
  .discover__card:last-child {
    display: none;
  }
  .highlight {
    margin-top: 9.592326139088729%;
    min-height: 630px;
    background-image: linear-gradient(
        180deg,
        rgba(162, 89, 255, 0) 0%,
        #a259ff 100%
      ),
      url(../images/NFT-highlight_tablet.png);
  }
  .highlight__title {
    font-size: 38px;
    line-height: 120%;
  }
  .explainer {
    margin-top: 4.796163069544365%;
    width: 82.733813%;
    max-width: 690px;
  }
  .explainer__title {
    font-size: 28px;
    line-height: 140%;
  }
  .explainer__subtitle {
    font-size: 16px;
    line-height: 140%;
  }
  .explainer__cards {
    margin-top: 40px;
  }
  .explainer__card-title {
    font-size: 16px;
    line-height: 140%;
  }
  .explainer__card-text {
    font-size: 12px;
    line-height: 140%;
  }
  .widget__image {
    display: none;
  }
  .widget__image_tablet {
    display: block;
    width: 100%;
    max-width: 300px;
  }
  .widget__info {
    margin-left: 30px;
    min-width: 40.47619047619048%;
    max-width: 425px;
    display: grid;
    grid-template-rows: 1fr 1fr fit-content fit-content;
  }
  .widget__title {
    font-size: 28px;
    line-height: 140%;
  }
  .widget__text {
    font-size: 16px;
    line-height: 140%;
  }
  .email-form {
    max-height: 46px;
    flex-direction: column;
  }
  .email-form__footer {
    flex-direction: row;
  }
  .email-form__button-container_laptop {
    display: none;
  }
  .email-form__button-container_tablet {
    display: flex;
  }
  .email-form__string-container {
    min-height: 46px;
  }
  .email-form__button-container {
    margin-left: 0;
    height: 46px;
  }
  .footer {
    background: #3b3b3b;
  }
  .footer__container {
    padding-bottom: 7.246376811594203%;
    max-height: none;
    flex-direction: column;
  }
  .footer__info {
    gap: 20px;
  }
  .footer__info-content {
    max-width: none;
  }
  .footer__explore {
    margin-top: 30px;
    max-width: fit-content;
    gap: 20px;
  }
  .widget_footer {
    margin-top: 30px;
    gap: 20px;
  }
  .widget__info_footer {
    margin: 0;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  .email-form__footer {
    min-height: 60px;
  }
  .email-form__button-container_footer {
    min-height: 60px;
  }
  .email-form__button_footer {
    min-height: 60px;
  }
}

@media screen and (max-width: 780px) {
  .creators__card {
    max-width: none;
  }
  .creators__sales {
    font-size: 12px;
  }
  .creators__span-accent {
    font-size: 12px;
  }
}

@media screen and (max-width: 525px) {
  .header {
    margin-top: 4%;
    width: 84%;
  }
  #menu__toggle:checked ~ .header__menu-items {
    right: -10vw;
  }
  .header__link {
    margin-right: 10vw;
  }
  .header__link:last-child {
    margin-right: 10vw;
  }
  .header__button {
    margin-top: 12px;
    margin-right: 10vw;
  }
  .lead {
    margin: 10.66666666666667% auto 0 auto;
    width: 84%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .lead__image {
    grid-column: 1;
    grid-row: 3;
  }
  .lead__title {
    font-size: 28px;
    line-height: 140%;
  }
  .lead__subtitle {
    margin-top: 10px;
    font-size: 16px;
    line-height: 140%;
  }
  .lead__image {
    margin-top: 12.6984126984127%;
  }
  .lead__button {
    margin: 40px 0;
    width: 100%;
  }
  .trends {
    margin: 21.33% auto 0 auto;
    width: 84%;
  }
  .three-cards {
    margin-top: 12.6984126984127%;
  }
  .card {
    width: 100%;
  }
  .card:nth-last-child(-n + 2) {
    display: none;
  }
  .creators {
    margin: 21.33% auto 0 auto;
    width: 84%;
  }
  .creators__heading {
    flex-direction: column;
    gap: 0;
  }
  .creators__subtitle {
    margin-top: 10px;
  }
  .creators__container {
    margin-top: 12.6984126984127%;
    gap: 20px;
  }
  .creators__card:nth-last-child(-n + 8) {
    display: none;
  }
  .creators__sales {
    font-size: 16px;
    line-height: 140%;
  }
  .creators__span-accent {
    font-size: 16px;
    line-height: 140%;
  }
  .creators__button {
    display: none;
  }
  .creators__button_mobile {
    margin-top: 20px;
    display: flex;
  }
  .categories {
    margin: 21.33% auto 0 auto;
    width: 84%;
  }
  .categories__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .discover {
    margin: 21.33% auto 0 auto;
    width: 84%;
  }
  .discover__cards {
    flex-direction: column;
    gap: 20px;
  }
  .discover__card {
    width: 100%;
  }
  .discover__card:last-child {
    display: block;
  }
  .discover__button {
    display: none;
  }
  .discover__button_mobile {
    margin-top: 40px;
    display: flex;
  }
  .highlight__container {
    width: 84%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .timer {
    margin-top: 30px;
    width: 80.95238095238095%;
  }
  .highlight__button {
    display: none;
  }
  .highlight__button_mobile {
    display: flex;
    width: 68.25396825396825%;
    max-width: none;
  }
  .explainer {
    margin: 10.66666666666667% auto 0 auto;
    width: 84%;
  }
  .explainer__cards {
    flex-direction: column;
    gap: 20px;
  }
  .explainer__card {
    max-width: none;
    width: 100%;
    display: grid;
    grid-template-columns: 110px 1fr;
    column-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .explainer__card-image {
    margin-left: 20px;
    width: 100%;
    max-width: 110px;
    grid-row: 1/3;
    justify-self: center;
  }
  .explainer__card-title {
    margin-top: 0;
    margin-right: 20px;
    text-align: left;
  }
  .explainer__card-text {
    margin-right: 20px;
    text-align: left;
  }
  .widget {
    margin-top: 21.33%;
    width: 84%;
  }
  .widget__container {
    padding: 0;
    background-color: initial;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .widget__info {
    margin-top: 30px;
    margin-left: 0;
  }
  .widget__image {
    display: block;
    width: 100%;
  }
  .widget__image_tablet {
    display: none;
  }
  .widget__text {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .widget_footer {
    margin-top: 15px;
    width: 100%;
  }
  .widget__info_footer {
    margin-top: 0;
    width: 100%;
  }
  .widget__title_footer {
    font-size: 22px;
    line-height: 160%;
  }
  .widget__text_footer {
    margin-top: 0;
    margin-bottom: 0;
  }
  .email-form__footer {
    flex-direction: column;
    min-height: 46px;
    gap: 16px;
  }
  .email-form__button-container_footer {
    min-height: 46px;
  }
  .footer__container {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}
