@import url(./index.css);
.signup {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}
.signup__wallet {
  /* display: flex;
  flex-direction: column; */
  margin-top: 20px;
  display: grid;
  gap: 20px;
}
.signup__wallet-link {
  margin: 0;
  padding: 16px 20px 16px 40px;
  max-width: 320px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: white;
  background-color: #3b3b3b;
  border: 1px solid #a259ff;
  border-radius: 20px;
  box-sizing: border-box;
}

.signup__wallet-icon {
  width: 100%;
  max-width: 40px;
  margin-right: 20px;
}
.signup__picture {
  width: 100%;
  min-height: 691px;
  background-image: url(../images/sign-up_picture.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.signup__picture_wallet {
  background-image: url(../images/connectwallet_picture.png);
  min-height: 642px;
}
.signup__container {
  min-width: 47.65625%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.signup__title {
  margin: 0;
  max-width: 75.40983606557377%;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
  text-transform: capitalize;
}
.signup__subtitle {
  margin: 0;
  margin-top: 20px;
  max-width: 75.40983606557377%;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
}
.signup-form {
  width: 54.0983606557377%;
  min-width: 315px;
}
.signup-form__input-container {
  margin-top: 15px;
  min-height: 46px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #858584;
  display: flex;
  align-items: center;
}
.signup-form__icon {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 12px;
}
.signup-form__button {
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 46px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #a259ff;
  border-radius: 20px;
  border: none;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: white;
}
input {
  border: none;
  width: 100%;
  min-height: 46px;
  border-radius: 20px;
}
input:focus {
  outline: none;
}
@media screen and (max-width: 835px) {
  .signup {
    column-gap: 40px;
  }
  .signup__title {
    font-size: 38px;
    line-height: 120%;
  }
  .signup__subtitle {
    font-size: 16px;
    line-height: 140%;
  }
}
@media screen and (max-width: 672px) {
  .signup {
    grid-template-columns: 1fr;
  }
  .signup__picture {
    min-height: 232px;
    /* background-image: url(../images/sign-up_picture_2.png); */
  }
  .signup__picture_wallet {
    min-height: 232px;
  }
  .signup__container {
    width: 100%;
    align-items: center;
  }
  .signup__title {
    margin-top: 30px;
    min-width: 84%;
    margin-left: auto;
    margin-right: auto;
  }
  .signup__subtitle {
    min-width: 84%;
    margin-left: auto;
    margin-right: auto;
  }
  .signup-form {
    min-width: 84%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .signup-form__input-container:first-child {
    margin-top: 30px;
  }
  .signup__wallet {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 426px) {
  .signup__wallet{
    width: 84%;
  }
  .signup__wallet-link {
    width: 100%;
    max-width: none;
  }
}
@media screen and (max-width: 376px) {
  .signup {
    grid-template-columns: 1fr;
  }
  .signup__picture {
    min-height: 232px;
    background-image: url(../images/sign-up_picture_2.png);
  }
  .signup__picture_wallet {
    background-image: url(../images/connectwallet_picture.png);
    object-fit: scale-down;
  }
}
